<?xml version='1.0' encoding='utf-8'?>
<widget id="SW8763W42X.com.imyelo.nga
" version="1.0.3" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>NGA</name>
    <description>
        NGA艾泽拉斯国家地理论坛
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <feature name="http://api.phonegap.com/1.0/device" />
    <gap:platform name="ios" />
    <preference name="phonegap-version" value="3.0.0" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="false" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    <icon src="phonegap/asset/logo-152.png" />
    <icon gap:platform="ios" height="57" src="phonegap/asset/logo-57.png" width="57" />
    <icon gap:platform="ios" height="72" src="phonegap/asset/logo-72.png" width="72" />
    <icon gap:platform="ios" height="76" src="phonegap/asset/logo-76.png" width="76" />
    <icon gap:platform="ios" height="114" src="phonegap/asset/logo-57-2x.png" width="114" />
    <icon gap:platform="ios" height="120" src="phonegap/asset/logo-120.png" width="120" />
    <icon gap:platform="ios" height="144" src="phonegap/asset/logo-72-2x.png" width="144" />
    <icon gap:platform="ios" height="152" src="phonegap/asset/logo-152.png" width="152" />
    <gap:splash gap:platform="ios" height="480" src="phonegap/asset/splash.png" width="320" />
    <gap:splash gap:platform="ios" height="960" src="phonegap/asset/splash-2x.png" width="640" />
    <gap:splash gap:platform="ios" height="1136" src="phonegap/asset/splash-iphone5.png" width="640" />
    <gap:splash gap:platform="ios" height="748" src="phonegap/asset/splash-landscape.png" width="1024" />
    <gap:splash gap:platform="ios" height="1004" src="phonegap/asset/splash-portrait.png" width="768" />
    <access origin="http://ngacn.cc" subdomains="true" />
    <access origin="http://178.com" subdomains="true" />
    <access origin="http://youku.com" subdomains="true" />
    <access origin="http://tudou.com" subdomains="true" />
    <access origin="http://127.0.0.1*" />
    <access origin="*.jpg" />
    <access origin="*.jpeg" />
    <access origin="*.gif" />
    <access origin="*.png" />
    <gap:plugin name="com.verso.cordova.clipboard" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.dialogs" version="0.1.0" />
    <gap:plugin name="nl.x-services.plugins.socialsharing" />
    <gap:plugin name="nl.x-services.plugins.launchmyapp">
      <param name="URL_SCHEME" value="nga" />
    </gap:plugin>
    <gap:plugin name="org.apache.cordova.splashscreen" />
</widget>
