@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@-moz-keyframes slideInLeft {
  0% {
    -moz-transform: translate3d(-100%, 0, 0);
  }

  100% {
    -moz-transform: translate3d(0, 0, 0);
  }
}

@-o-keyframes slideInLeft {
  0% {
    -o-transform: translate3d(-100%, 0, 0);
  }

  100% {
    -o-transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  0% {
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  -webkit-animation: slideInLeft 0.8s ease;
    -moz-animation: slideInLeft 0.8s ease;
      -o-animation: slideInLeft 0.8s ease;
          animation: slideInLeft 0.8s ease;
}

@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@-moz-keyframes slideInRight {
  0% {
    -moz-transform: translate3d(100%, 0, 0);
  }

  100% {
    -moz-transform: translate3d(0, 0, 0);
  }
}

@-o-keyframes slideInRight {
  0% {
    -o-transform: translate3d(100%, 0, 0);
  }

  100% {
    -o-transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  0% {
    transform: translate3d(100%, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation: slideInRight 0.8s ease;
    -moz-animation: slideInRight 0.8s ease;
      -o-animation: slideInRight 0.8s ease;
          animation: slideInRight 0.8s ease;
}

@-webkit-keyframes slideInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@-moz-keyframes slideInUp {
  0% {
    -moz-transform: translate3d(0, 100%, 0);
  }

  100% {
    -moz-transform: translate3d(0, 0, 0);
  }
}

@-o-keyframes slideInUp {
  0% {
    -o-transform: translate3d(0, 100%, 0);
  }

  100% {
    -o-transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp {
  0% {
    transform: translate3d(0, 100%, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  -webkit-animation: slideInUp 0.8s ease;
    -moz-animation: slideInUp 0.8s ease;
      -o-animation: slideInUp 0.8s ease;
          animation: slideInUp 0.8s ease;
}

@-webkit-keyframes slideInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@-moz-keyframes slideInDown {
  0% {
    -moz-transform: translate3d(0, -100%, 0);
  }

  100% {
    -moz-transform: translate3d(0, 0, 0);
  }
}

@-o-keyframes slideInDown {
  0% {
    -o-transform: translate3d(0, -100%, 0);
  }

  100% {
    -o-transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  0% {
    transform: translate3d(0, -100%, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  -webkit-animation: slideInDown 0.8s ease;
    -moz-animation: slideInDown 0.8s ease;
      -o-animation: slideInDown 0.8s ease;
          animation: slideInDown 0.8s ease;
}

@-webkit-keyframes slideOutLeft {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
  }
}

@-moz-keyframes slideOutLeft {
  0% {
    -moz-transform: translate3d(0, 0, 0);
  }

  100% {
    -moz-transform: translate3d(-100%, 0, 0);
  }
}

@-o-keyframes slideOutLeft {
  0% {
    -o-transform: translate3d(0, 0, 0);
  }

  100% {
    -o-transform: translate3d(-100%, 0, 0);
  }
}

@keyframes slideOutLeft {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

.slideOutLeft {
  -webkit-animation: slideOutLeft 0.8s ease;
    -moz-animation: slideOutLeft 0.8s ease;
      -o-animation: slideOutLeft 0.8s ease;
          animation: slideOutLeft 0.8s ease;
}

@-webkit-keyframes slideOutRight {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(100%, 0, 0);
  }
}

@-moz-keyframes slideOutRight {
  0% {
    -moz-transform: translate3d(0, 0, 0);
  }

  100% {
    -moz-transform: translate3d(100%, 0, 0);
  }
}

@-o-keyframes slideOutRight {
  0% {
    -o-transform: translate3d(0, 0, 0);
  }

  100% {
    -o-transform: translate3d(100%, 0, 0);
  }
}

@keyframes slideOutRight {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(100%, 0, 0);
  }
}

.slideOutRight {
  -webkit-animation: slideOutRight 0.8s ease;
    -moz-animation: slideOutRight 0.8s ease;
      -o-animation: slideOutRight 0.8s ease;
          animation: slideOutRight 0.8s ease;
}

@-webkit-keyframes slideOutUp {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 100%, 0);
  }
}

@-moz-keyframes slideOutUp {
  0% {
    -moz-transform: translate3d(0, 0, 0);
  }

  100% {
    -moz-transform: translate3d(0, 100%, 0);
  }
}

@-o-keyframes slideOutUp {
  0% {
    -o-transform: translate3d(0, 0, 0);
  }

  100% {
    -o-transform: translate3d(0, 100%, 0);
  }
}

@keyframes slideOutUp {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(0, 100%, 0);
  }
}

.slideOutUp {
  -webkit-animation: slideOutUp 0.8s ease;
    -moz-animation: slideOutUp 0.8s ease;
      -o-animation: slideOutUp 0.8s ease;
          animation: slideOutUp 0.8s ease;
}

@-webkit-keyframes slideOutDown {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(0, -100%, 0);
  }
}

@-moz-keyframes slideOutDown {
  0% {
    -moz-transform: translate3d(0, 0, 0);
  }

  100% {
    -moz-transform: translate3d(0, -100%, 0);
  }
}

@-o-keyframes slideOutDown {
  0% {
    -o-transform: translate3d(0, 0, 0);
  }

  100% {
    -o-transform: translate3d(0, -100%, 0);
  }
}

@keyframes slideOutDown {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(0, -100%, 0);
  }
}

.notification {
  -webkit-animation: notification 0.6s ease;
}

.slideOutDown {
  -webkit-animation: slideOutDown 0.8s ease;
    -moz-animation: slideOutDown 0.8s ease;
      -o-animation: slideOutDown 0.8s ease;
          animation: slideOutDown 0.8s ease;
}

.section-bounceIn {
  -webkit-animation: bounceIn 0.6s ease;
}
.section-bounceInUp {
  -webkit-animation: bounceInUp 0.6s ease;
}
.section-bounceInDown {
  -webkit-animation: bounceInDown 0.6s ease;
}
.section-bounceInLeft {
  -webkit-animation: bounceInLeft 0.6s ease;
}
.section-bounceInRight {
  -webkit-animation: bounceInRight 0.6s ease;
}
.section-bounceOut {
  -webkit-animation: bounceOut 0.6s ease;
}
.section-bounceOutUp {
  -webkit-animation: bounceOutUp 0.6s ease;
  .translate3d(0, -100%, 0);
}
.section-bounceOutDown {
  -webkit-animation: bounceOutDown 0.6s ease;
  .translate3d(0, 100%, 0);
}
.section-bounceOutLeft {
  -webkit-animation: bounceOutLeft 0.6s ease;
  .translate3d(-100%, 0, 0);
}
.section-bounceOutRight {
  -webkit-animation: bounceOutRight 0.6s ease;
  .translate3d(100%, 0, 0);
}
.section-flipInX {
  -webkit-animation: flipInX 0.6s ease;
}
