#bootup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px 1px #000;
  background-image: url('images/splash-2x.png');
  background-size: 100%;
  article {
    width: 50%;
    display: block;
    position: absolute;
    overflow: hidden;
    color: #efefef;
    font-size: 0.6em;
    padding: 4px 30px;
  }
}
