#publish {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px 1px #000;
  header {
    color: #fff;
    background-color: @nga-red;
    a {
      &:active {
        background-color: @nga-red-dark;
      }
    }
    & > h1 {
      .text-shadow(0 1px 1px @nga-red-dark);
      .glyphicon {
        font-size: 0.8em;
      }
    }
    .action-ok {
      &.loading { 
        .glyphicon {
          .rotation;
        }
      }
    }
  }
  article {
    width: 100%;
    display: block;
    position: absolute;
    top: 50px;
    overflow: scroll;
    background-color: #efefef;
    & .scroller {
      & > .content {
        margin: 0;
        &.show {
          -webkit-animation: fadeInUp 0.4s ease
        }
        .box-sizing(border-box);
        -webkit-backface-visibility: hidden;
        display: block;
        min-height: 300px;
        width: 100%;
        color: #666;
        padding: 0;
        .relief {
          box-shadow: 0px -1px 0 0 #ddd;
          border-top: 1px solid #fff;
          border-bottom: 1px solid #ccc;
        }
        & > div.form {
          & > textarea, & > input {
            .box-sizing(border-box);
            padding: 10px;  
            border: none;
            border-bottom: 1px solid #db5633;
            background: #fff;
            font-size: 1em;
            color: #666;
            width: 100%;
          }
          & > textarea {
            overflow-y: scroll;
          }
        }
        & > .toolbar {
          .relief;
          color: #666;
          margin: 5px 0;
          font-size: 1em;
          height: 40px;
          text-align: right;
          padding: 0 7px;
          .tool {
            float: right;
            color: #aaa;
            border-radius: 3px;
            height: 30px;
            width: 30px;
            line-height: 30px;
            text-align: center;
            margin: 5px 5px 5px 0;
            .text-shadow(0 -1px 1px #fff);
            &:active {
              background-color: @nga-red;
              color: #fff;
              text-shadow: 0 1px 1px #333;
            }
            &.action-delete {
              text-decoration: line-through;
            }        
          }
        }
        & > .emotion-panel {
          .relief;
          color: #666;
          padding: 5px 0 0;
          ul, li {
            list-style: none;
          }
          & > ul {
            margin: 0 auto;
            padding: 0;
            // width: 320px;
            height: 160px;
            overflow: hidden;
            li {
              float: left;
              width: ~"calc(25% - 10px)";
              height: 80px;
              line-height: 70px;
              margin: 5px;
              text-align: center;
              &:active {
                background: #fff;
                box-shadow: 0 1px 1px 1px #aaa inset;
              }
              img {
                max-height: 70px;
                max-width: 70px;
              }
            }
          }
          & > .emotion-pagination {
            text-align: center;
            color: #999;
            padding: 0 0 5px;
            & > .current {
              color: #000;
            }
          }
          & > .emotion-category {
            text-align: center;
            color: #555;
            width: 100%;
            overflow: hidden;
            & > .scroller {
              width: 5000px;
              ul {
                box-shadow: 0px 1px 0 2px #fff inset;
                border-top: 1px solid #ddd;
                margin: 0;
                padding: 0;
                width: 100%;
                overflow-x: scroll;
                li {
                  display: block;
                  float: left;
                  padding: 5px 10px;
                  // width: 20%;
                  overflow: hidden;
                  font-size: 0.6em;
                  &:active, .active {
                    box-shadow: 0 1px 1px 1px #ccc inset;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  footer {
    height: 40px;
    color: @nga-red;
    .transition(all 0.4s ease);

  }
}
